$base-font: Lato;
$header-color: #3f3f3f;
$backround-color: #ffffff;
$top-nav-font-color: #f7f7f7;
$category-color: rgba(8, 8, 8, 0.2);
$active-category-color: #080808;
$hot-label-color: #da3030;
$new-label-color: #003fff;
$max-width: 1504px;
$product-background-color: #f7f7f7;
